body {
  font-family: Arial, Verdana,  sans-serif;
  font-size: 11pt;
  background-color: 009999;
  color: white;
}
h1 {
  font-family: calibri;
  color: White;
  font-size: 24pt;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}
h2 {
  font-family: calibri;
  color: white;
  font-size: 22pt;
  font-weight: normal;
}
h3 {
  font-family: calibri;
  color: white;
  font-size: 20pt;
  font-weight: normal;
}
h4 {
  font-family: calibri;
  color: white;
  font-size: 18pt;
  font-weight: normal;
}
h5 {
  font-family: calibri;
  color: white;
  font-size: 16pt;
  font-weight: normal;
}
h6 {
  font-family: calibri;
  color: white;
  font-size: 14pt;
  font-weight: normal;
}
p {
  color: white;
	background-color: #33CCCC;
  font-family: Times New Roman ;
  margin-left: 5px;
  margin-right: 20px;
  border-left: 15px solid #999;
  border-right: 15px solid #999;
  padding-left: 15px;
  padding-right: 5px;
}
a {
  color: black
}
table {
  color: black
}
img {
	background-color: black;
	border-color: yellow;
	border-style: dashed;
	padding: 8px
}

embed {
	background-color: black;
	border-color: green;
	border-style: ridge;
	padding: 8px
}
Cursor-style {
    help { cursor: help; }
	pointer { cursor: pointer; }
	text { cursor: text; }
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #000033;
}
::-webkit-scrollbar-thumb {
    background: #99cccc;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
img:glow {
  filter: Glow(color=purple, strength=55)
}
img:blur{
  filter: blur(4px);
}
img:grayscale{
  filter: grayscale(45%);
}
img:invert{
  filter: invert(100%);
}
.glow {
  font-size: 20px;
  color: purple;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6;
  }
}
